---
site: CPSC 349 - Project 1
---

<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <!--Universal Header with Navigation-->
    <header>
        <nav>
            <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="http://localhost:8080/aboutus/index.html">About Us</a>
            </li>
            </ul>
        </nav>
        <h1>{{title }}</h1>
    </header>

    <!--Content from display.html & index.html-->
    {{ content }}

    <!--Universal Footer-->
    <footer>
        <hr />
        <p>
            <small>
                <a href="https://www.pexels.com" target="_blank">Photos provided by Pexels</a>
            </small>
        </p>
    </footer>
</body>
